################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Ex1_WindowFormApp/.vs/Ex1_WindowFormApp
